@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Century Schoolbook L';
	background-image: url(http://i.imgur.com/appqdMQ.jpg);
	background-size: cover;
}

h1, nav {
	color: goldenrod;
	mix-blend-mode: color-dodge;
}

h1 a, h1 a:visited, h1 a:hover {
	color: goldenrod;
	text-decoration: none;
}

li {
	list-style: none;
}

nav, nav a:visited, nav a {
	color: goldenrod;
	font-size: 15px;
	font-style: oblique;
	font-weight: 10;
}

a:hover {
	 color: goldenrod;
}

a {
	color: aliceblue;
}

h6 {
	position: relative;
	padding-top: 56.25%;
	background-image: url(https://www.channelnewsasia.com/blueprint/servlet/image/11123512/16x9/1400/840/b161d951362e0dd032326dbce10f0a68/FW/egg-kylie-jenner-instagram.jpg);
	background-size: contain;
	background-position: center;
}

h5 iframe {
	border: 0px;
}

#mainimg {
  	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: auto;
	border: 5px solid #fff;
	position: relative;
	width: 50%;
	height: 50%;
}

h5 {
	background-image: url();
	background-color: goldenrod;
	width: 350px;
	height: 442px;
	background-position: center;
	margin: auto;
}

h6:hover {
	padding-top: 56.25%;
	background-image: url();
	background-color: goldenrod;
}
h6 iframe {
	border: 0px;
	opacity: 0;
}

p, h2, h3, h4 {
	color: white;
	text-align: center;
	text-shadow: 0px 0px 5px #000;
}

#blocktext {
	text-align: left;
	text-shadow: none;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#bio {
	background-color: rgba(0,0,0,0.65);
	margin-left: 100px;
	margin-right: 100px;
	max-width: 1000px;
	margin: auto;
}

h2 {
	font-weight: bolder;
}

h5 iframe:hover, h6 iframe:hover {
	opacity: 1;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	mix-blend-mode: multiply;
}

#module {
	text-align: center;
	color: rgba(161,161,161,1.00);
}
